<!doctype html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>My sandbox | Nom prénom</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" charset="utf-8">
</head>

<body>
    <div class="app">
        <h1>A vanilla js slider</h1>
        <div class="slider-wrapper">
            <div class="slider-item red">
                1
            </div>
            <div class="slider-item blue">
                2
            </div>
            <div class="slider-item green">
                3
            </div>
        </div>
        <nav class="slider-nav">
            <button class="slider-previous">
                prev
            </button>
            <button class="slider-next">
                next
            </button>
        </nav>
    </div>

    <script src="../static//js/index.js"></script>
</body>

</html>
    